{% extends 'article/home.html.twig' %}
{% block body %}
{% if app.user %}
<div class="col-md-12 col-sm-12">
    <div class="x_panel">
       <div class="x_title">
        <h2 id="plus" style="font-style: italic;font-family: Verdana, Geneva, Tahoma, sans-serif;"><strong>LISTE DES HEBEGREMENTS</strong></h2>         <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link btn btn-success">Ajouter un nouveau hébergement <i class="fa fa-chevron-up"></i></a>
           </li>
         </ul>
         <div class="clearfix"></div>
       </div>
        <div class="x_content">
           <div class="formAdd">
            <form method="post" action="" id="okay1">
              <div id="payement">
                <div class="field item form-group">
                  <input type="hidden" name="numerocli" id="numerocli" value="{{ numcli }}">
                  <label class="col-form-label col-md-3 col-sm-3  label-align">Numéro de la chambre :</label>
                  <div class="form-group col-md-6 col-sm-6 input-group">
                    <span class="input-group-addon"><i class="fa fa-home"></i></span>
                    <select  class="form-control" name="numeroch" id="numeroch" required="required">
                      <option></option>
                      {% for chambre in chambres %}
                      <option value="{{ chambre.id }}"> {{ chambre.codech }}</option>
                      {% endfor %}
                      </select>
                  </div>
                </div>
                <div class="field item form-group">
                  <label class="col-form-label col-md-3 col-sm-3  label-align">Date d'entrée :</label>
                  <div class="form-group col-md-6 col-sm-6  input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" autocomplete="off" id="dateentre1111"   class=" form-control" name="dateentre" required="required">
                  </div>
                </div>
                <div class="field item form-group">
                  <label class="col-form-label col-md-3 col-sm-3  label-align">Duré du séjour :</label>
                  <div class="form-group col-md-6 col-sm-6  input-group">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input type="number"  class="form-control" name="nbjrs" id="nbjrs" required="required">
                  </div>
                </div>
                <div class="field item form-group">
                  <label class="col-form-label col-md-3 col-sm-3  label-align">Accompagné de :</label>
                  <div class="form-group col-md-6 col-sm-6  input-group">
                    <span class="input-group-addon"><i class="fa fa-users"></i></span>
                    <input type="text"  class="form-control" name="compagne" id="compagne" >
                  </div>
                  <button type="button" onclick="ajoutHeberge()" class="btn btn-primary">Suivant</button>
                </div>
              </div>
              <div id="payement2">
                <div class="field item form-group">
                  <label class="col-form-label col-md-3 col-sm-3  label-align">Date de début du séjour :</label>
                  <div class="form-group col-md-6 col-sm-6  input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text"  class=" form-control" name="dateentreone" id="dateentreone" readonly="readonly">
                  </div>
                </div>
                <div class="field item form-group">
                  <label class="col-form-label col-md-3 col-sm-3  label-align">Duré du séjour :</label>
                  <div class="form-group col-md-6 col-sm-6  input-group">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input type="number"  class="form-control" name="nbjrs1" id="nbjrs1" readonly="readonly">
                  </div>
                </div>
                <div class="field item form-group">
                  <label class="col-form-label col-md-3 col-sm-3  label-align">Prix journalier de la chambre :</label>
                  <div class="form-group col-md-6 col-sm-6  input-group">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input type="number"  class="form-control" name="price" id="price" readonly="readonly">
                  </div>
                </div>
                <div class="field item form-group">
                  <label class="col-form-label col-md-3 col-sm-3  label-align">Montant à payer :</label>
                  <div class="form-group col-md-6 col-sm-6  input-group">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input type="number"  class="form-control" name="montant" id="montant" readonly="readonly">
                  </div>
                </div>
                <div class="field item form-group">
                  <label class="col-form-label col-md-3 col-sm-3  label-align">Mode de payement :<span style="color: red;"> *</span></label>
                  <div class="form-group col-md-6 col-sm-6">
                    <select  class="form-control" name="payer" id="sexe1" required="required">
                      <option></option>
                      <option value="Chèque">Chèque</option>
                      <option value="Espèce">Espéce</option>
                    </select>
                  </div>
                </div>
                <div class="ln_solid">
                  <div class="form-group">
                  <div class="col-md-6 offset-md-3">
                    <button type="submit" class="btn btn-primary">Valider</button>
                    <button type="button" class="btn btn-md btn-danger"  id="ajout1" name="okay1" onclick="reinitialise()">Annuler</button>
                  </div>
                </div>
                </div>
              </div>
              </form>
           </div>
        </div>
    </div>
     <div class="row" style="clear: both;margin-top: 18px;">
        <div class="col-12">
          <table id="okay" class="table table-striped table-bordered" style="width:100%;text-align: center;">
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Nom du client</th>
                    <th>Numéro et photo de la chambre </th>
                    <th>Date et heure de debut du séjour</th>
                    <th>Duréé du séjour</th>
                    <th>Accompagné par </th>
                    <th>Etat actuelle</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for heberge in heberges %}
            <tr id="row_{{ heberge.id }}">
                    <td> <br><br><strong> {{ heberge.id }} </strong></td>
                    <td> <br><br><strong> {{ heberge.numcli.nom }}  {{ heberge.numcli.prenom }}  </strong></td>
                    <td> <br><br><strong> 
                      {{ heberge.numchambre.codech }}
                      <img src="{{ asset('/uploads/'~heberge.numchambre.photo) }}" alt="" width="150"/>
                     </strong></td>
                    <td> <br><br><strong> {{ heberge.dateentre | date('d m Y H:i:s') }} </strong></td>
                    <td> <br><br><strong> {{ heberge.nbjours }} </strong></td>
                    <td> <br><br><strong> {{ heberge.compagne }} </strong></td>
                    {% if heberge.statut =="ko" %}
                    <td> <br><br><strong>   En cours  </strong></td>
                    {% else %}
                    <td> <br><br><strong> Terminé </strong></td>
                    {% endif %}
                    <td> <br><br><strong> 
                      <form method="post" action="{{ path('facture_edit') }}">
                        <input type="hidden" value="{{ heberge.id }}" name="id">
                        <button type="submit" class="btn btn-info" data-toggle="tooltip"  data-placement="top" title="Editer la facture">
                          <span class="fa  fa-file-text" aria-hidden="true"></span>
                          </button>

                      </form> 
                      {% if heberge.statut =="ko" %}
                      <a href="{{ path('heberge_show', {'id': heberge.id}) }}" class="btn btn-success" data-toggle="tooltip"  data-placement="top" title="Modifier la durée d'hébergement">
                        <span class="fa  fa-pencil-square-o" aria-hidden="true"></span>
                      </a>
                      <a data-toggle="tooltip"  data-placement="top" title="Séjour terminé" class="btn btn-primary" href="{{ path('chambremiseheberge', {'id': heberge.numchambre.id}) }}"><span class="fa fa-check-circle"></span></a>
                      {% else %}
                      <form method="post" action="{{ path('heberge_delete', {'id': heberge.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette donnée ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ heberge.id) }}">
                        <button class="btn btn-danger" data-toggle="tooltip"  data-placement="top" title="supprimer"><span class="fa fa-trash"></span></button>
                    </form>
                    {% endif %}
                     </strong></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Pas de données trouvé </strong></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
       </div>
    </div>
    </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
<script>
   function ajoutHeberge(event) {
    var numchambre = $('#numeroch').val();
    var dateentre=$("#dateentre").val();
    var nbjrs=$('#nbjrs').val();
    if(nbjrs>0 && nbjrs.length<3){
      let _url = `/chambre/${numchambre} /editprice`;
    $('#userNameError').text('');
    // alert(_url);
    $.ajax({
      url: _url,
      type: "GET",
      success: function(data) {
        if(data.code==200) {
            var montant=nbjrs*data.client.prix;
            $("#montant").val(montant);
            $("#nbjrs1").val(nbjrs);
            $("#price").val(data.client.prix);
            $("#dateentreone").val(dateentre);
            $("#payement2").show();
            $("#payement").hide();
          }
      }
    });
    } else{
      alert("Veuillez vérifier la durée du séjour");
    }
    
  }
  function reinitialise(){
    $("#payement").show();
    $("#payement2").hide();

  }
</script>
{% endblock %}